@import './vars.scss';
.about-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin: 0 auto;
    max-width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    // border: 2px solid #25282A;
    h1 {
        color: $dark;
    }
    p {
        font-size: 13px;
        line-height: 18px;
        color: $dark;
        // max-width: 400px;
        opacity: .7;
    }
}