@import './vars.scss';
.about-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.about-info {
    width: 90%;
    margin: auto 5%;
    padding: 0 0 10%;
}