@import './vars.scss';
.nav-container {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0!important;
    background-color: white;
    width: 100%;
    left: 0;
    // padding: 15px;
    height: 55px;
    box-sizing: border-box;
}

.nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 55px;
    padding: 0;
    margin: 0;
    width: 50%;
    // position: absolute;
    justify-content: space-around;
    // align-items: flex-start;
    list-style: none;
    li {
        font-weight: 200;
        line-height: 50px;
        font-size: 14px;
        a {
            text-decoration: none;
            padding: 5px;
            color: $dark;
            &.active {
                background-color: $dark;
                color: $light;
            }
        }
    }
}

.nav-logo-container {
    height: 45px;
    // border: 2px solid $dark;
    width: 45px;
    margin: 3px;
    box-sizing: border-box;
    a {
        padding: 0!important;
    }
    &:hover {
        background-color: $dark;
        border: 2px solid $light;
        svg {
            fill: $dark;
        }
        svg path {
            stroke: $light;
        }
    }
    svg path {
        width: 100%;
        stroke: $dark;
    }
}

.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-top: 2px solid $dark;
    border-bottom: 2px solid $dark;
    border-right: 2px solid $dark;
    // margin: 3px;
    flex-grow: 1;
    margin: 0;
    cursor: pointer;
    li {
        font-weight: 200;
        opacity: .7;
        font-size: 14px;
    }
}

@media only screen and (max-width: 800px) {
    .nav-link {
        font-size: 13px;
    }
}